<!-- BEGIN: Header -->
<header class="text-center position-relative">
  <div class="container">
    <!-- Text Contain -->
    <div class="t-c">
      <h1>HostPapa VS GoDaddy All Features</h1>
      <p class="mb-4">Choosing new web hosting provider? See this comparison first</p>
      <ul class="list-unstyled d-inline-flex align-items-center mb-0">
        <li><a href routerLink="" class="d-inline-flex align-items-center justify-content-center">Home</a></li>
        <li><a href (click)="compareMenu();" class="d-inline-flex align-items-center justify-content-center">Change Item</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- BEGIN: Compare Table -->
<div class="compare-table p-70 position-relative">
  <div class="container">
    <!-- Tables Contain -->
    <div class="tables-c">
      <!-- Title Table -->
      <table class="title-table w-100 position-sticky">
        <thead>
          <tr>
            <td scope="col" class="d-md-block d-none"></td>
            <th scope="col" class="text-center">
              <!-- Image contain -->
              <div class="image-c d-flex align-items-center justify-content-center">
                <img src="assets\images\products\_HostPapa.png" class="img-fluid" alt="">
              </div>
              <!-- Links -->
              <div class="links">
                <a href="#" target="_blank" class="d-block mx-auto">Overview</a>
                <a href="#" target="_blank" class="d-block mx-auto">Visit Website</a>
              </div>
            </th>
            <th scope="col" class="text-center">
              <!-- Image Contain -->
              <div class="image-c d-flex align-items-center justify-content-center">
                <img src="assets\images\products\godaddy_GoDaddy.png" class="img-fluid" alt="">
              </div>
              <!-- Links -->
              <div class="links">
                <a href="#" target="_blank" class="d-block mx-auto">Overview</a>
                <a href="#" target="_blank" class="d-block mx-auto">Visit Website</a>
              </div>
            </th>
          </tr>
        </thead>
      </table>
      <!-- Properties Table -->
      <table class="prop-table w-100">
        <tbody>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Price per Month</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Price per Month</th>
            <td class="text-center">$3.50</td>
            <td class="text-center">$8.50</td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Free Site Migration</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Free Site Migration</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-close"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Website Speed</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Website Speed</th>
            <td class="text-center">525 ms</td>
            <td class="text-center">480 ms</td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Uptime</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Uptime</th>
            <td class="text-center">100.00%</td>
            <td class="text-center">0.00%</td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Unlimited SSD Space</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Unlimited SSD Space</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-close"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Unlimited Bandwidth</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Unlimited Bandwidth</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Free Domain Name Registration</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Free Domain Name Registration</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>PHP 7.1 Support</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">PHP 7.1 Support</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Instant Account Activation</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Instant Account Activation</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Optimized for WordPress</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Optimized for WordPress</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Unlimited Websites</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Unlimited Websites</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-close"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Auto Script Installer</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Auto Script Installer</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Unlimited Bandwidth</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Unlimited Bandwidth</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Free Domain Name Registration</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Free Domain Name Registration</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>PHP 7.1 Support</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">PHP 7.1 Support</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Instant Account Activation</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Instant Account Activation</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Optimized for WordPress</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Optimized for WordPress</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Unlimited Websites</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Unlimited Websites</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-close"></i></td>
          </tr>
          <tr class="d-md-none">
            <td colspan="2" class="text-center">
              <div>Auto Script Installer</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-md-table-cell d-none">Auto Script Installer</th>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Comment -->
    <div class="comment text-center">
      Lowest possible price per month<br>Prices displayed without VAT
    </div>
    <!-- Section Footer -->
    <div class="section-footer text-center">
      <a href="#" class="d-inline-block">See all HostPapa Features</a>
    </div>
  </div>
</div>

<!-- BEGIN: Ask and Answer Section -->
<div class="a-a p-0-70">
  <div class="container">
    <div class="accordion" id="accordion">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<span>Why HostPapa?</span>
              <span class="card-mode"></span>
						</button>
					</h5>
				</div>
				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						HostTrip has the right at any time review and improve the privacy policy and provide notification of any
						amendments in this post. Therefore, to keep up to with any recent policy amendments, customers are kindly
						requested to pay a visit to this page and check the latest edition of privacy policy. Customers are welcomed to
						contact HostTrip call center to ask about any amendments to the policy.
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span>What about HostPapa features?</span>
              <span class="card-mode"></span>
						</button>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					<div class="card-body">
						HostTrip takes all the necessary procedures to protect personal information and data of customers. Tech
						Station ensures that such information are by no means by disclosed to or accessed by any third party.
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span>HostPapa Hosting Terms</span>
              <span class="card-mode"></span>
						</button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body">
						All correspondences via email and fax between HostTrip and customers are reserved and protected in specific
						records. Such records are used to follow up on customer requests and assess HostTrip customer service.
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingFour">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <span>HostPapa Payment Methods</span>
              <span class="card-mode"></span>
						</button>
					</h5>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
					<div class="card-body">
						HostTrip keeps personal information and data of customer for a period estimated to use these information for
						specific purposes. These information might be kept for a longer time in case of requesting time extension or for
						legal issues. Personal information and data shall be deleted by the end of above-mentioned period or by an
						earlier request from the customer.
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingFive">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <span>Protection Information</span>
              <span class="card-mode"></span>
						</button>
					</h5>
				</div>
				<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
					<div class="card-body">
						HostTrip website may contain external links to other websites. The customer has to be informed that Tech
						Station does not hold responsibility for these websites. In case signed out of HostTrip website, Tech
						Station shall hold no responsibility if the customer provides their personal information to any other website.
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingSix">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <span>HostPapa Customer service</span>
              <span class="card-mode"></span>
						</button>
					</h5>
				</div>
				<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
					<div class="card-body">
						Children are not eligible to use HostTrip services. People under 18 years are kindly requested not to send
						any personal information or use HostTrip services.
					</div>
				</div>
			</div>
		</div>
  </div>
</div>

<!-- BEGIN: Compare Menu -->
<div class="compare-menu">
  <!-- Menu Head -->
  <div class="menu-head position-relative">
    <h6 class="mb-0">Choose two items</h6>
    <button type="button" (click)="dismissCompareMenu()" class="compare-menu-dismiss d-flex align-items-center justify-content-center position-absolute">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <!-- Menu Body -->
  <div class="menu-body">
    <ul class="list-unstyled">
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">GoDaddy</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">HostPapa</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">GoDaddy</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">Wix</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">SiteGround</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">1&amp;1</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">Web.com</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">Inmotion</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">Hub</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">Network Solution</span>
      </li>
      <li class="d-flex align-items-center justify-content-start">
        <span class="checkbox d-flex align-items-center justify-content-center"></span>
        <span class="name">Yahoo</span>
      </li>
    </ul>
  </div>
  <!-- Menu Footer -->
  <div class="menu-footer">
    <button type="button" id="compare-btn" (click)="compareNow()">Compare now</button>
  </div>
</div>

<!-- Full Screen Spinner -->
<div class="spinner full-w fixed-top w-100 h-100">
  <div class="spinner-body"></div>
</div>
