/* -- BEGIN:: Header -- */
header {
  padding: 130px 0 70px;
  background: #fff;
}
header h2 {
  color: var(--mainColor);
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize
}
/*---------------------------------------------*/

/* -- BEGIN:: Section -- */
section {
  background: #f3f5f9;
}
section .text {
  font-size: 17px;
  color: var(--pColor);
}
section ul {}
section li:not(:last-child) {
  margin-bottom: 20px;
}
section li .name {
  font-size: 17px;
  font-weight: bold;
  color: var(--mainColor)
}
section li .des {
  font-size: 17px;
  color: var(--pColor)
}
section form .i-g:not(:last-child) {
  margin-bottom: 20px;
}
section form input,
section form textarea {
  outline: none;
  box-shadow: none;
  transition: all .2s ease-in-out;
  padding: 12px 20px;
  border: 1px solid var(--lightGray);
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-dark);
}
section form input::placeholder {
  font-size: 14px;
}
section form input:focus,
section form textarea:focus {
  border-color: var(--blue);
}
section form textarea {
  min-height: 220px;
}
section form button {
  border: 0;
  padding: 10px 20px;
  font-size: 14px;
  background: var(--blue);
  text-transform: uppercase;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}
section form button:hover {
  background: var(--darBlue);
}
section {}
section {}