<!-- BEGIN: Main Contain -->
<div class="main-c">
  <div class="container">
    <!-- Forms -->
    <div class="forms mx-auto">
      <!-- Forms Nav -->
      <ul class="forms-nav list-unstyled d-flex align-items-center justify-content-center text-center">
        <li class="active" data-form="#login-form">Login</li>
        <li data-form="#register-form">Register</li>
      </ul>
      <!-- Form -->
      <form id="login-form">
        <!-- Grid Row -->
        <div class="row align-items-center">
          <!-- Grid Col -->
          <div class="col-12">
            <!-- Form Title -->
            <div class="form-title d-flex align-items-center justify-content-center">
              <span>Login now</span>
            </div>
          </div>
          <!-- Grid Col -->
          <div class="col-lg-7 pr-lg-0">
            <!-- Groups -->
            <div class="groups">
              <!-- Input Group -->
              <div class="input-g text-right">
                <label for="email" class="position-relative">
                  <i class="fa fa-user position-absolute"></i>
                  <input type="email" name="email" placeholder="User or Email..." autocomplete="off">
                </label>
                <a href="#" class="reset-link">Forget your username?</a>
              </div>
              <!-- Input Group -->
              <div class="input-g text-right">
                <label for="password" class="position-relative">
                  <i class="fa fa-key position-absolute"></i>
                  <input type="password" name="password" placeholder="Password..." maxlength="30">
                </label>
                <a href="#" class="reset-link">Forget your password?</a>
              </div>
              <!-- Input Group -->
              <div class="input-g">
                <label class="control control-checkbox">
                  Remember me
                  <input type="checkbox" />
                  <div class="control_indicator"></div>
                </label>
              </div>
              <!-- Input Group -->
              <div class="input-g text-center">
                <input type="submit" name="login-submit" value="sign in">
              </div>
            </div>
          </div>
          <!-- Grid Col -->
          <div class="col-lg-5 pl-lg-0">
            <!-- Links -->
            <div class="links d-lg-block d-flex flex-wrap justify-content-between align-items-start">
              <a href="#" class="d-inline-flex align-items-center justify-content-start twitter-link w-100">
                <i class="fa fa-twitter d-flex align-items-center justify-content-center"></i>
                <span>Sign in with <b>Twitter</b></span>
              </a>
              <a href="#" class="d-inline-flex align-items-center justify-content-start facebook-link w-100">
                <i class="fa fa-facebook d-flex align-items-center justify-content-center"></i>
                <span>Sign in with <b>Facebook</b></span>
              </a>
              <a href="#" class="d-inline-flex align-items-center justify-content-start google-link w-100">
                <i class="fa fa-google-plus d-flex align-items-center justify-content-center"></i>
                <span>Sign in with <b>Google+</b></span>
              </a>
              <a href="#" class="d-inline-flex align-items-center justify-content-start linkedin-link w-100">
                <i class="fa fa-linkedin d-flex align-items-center justify-content-center"></i>
                <span>Sign in with <b>Linkedin</b></span>
              </a>
            </div>
          </div>
        </div>
      </form>
      <!-- Form -->
      <form id="register-form">
        <!-- Grid Row -->
        <div class="row align-items-center">
          <!-- Grid Col -->
          <div class="col-12">
            <!-- Form Title -->
            <div class="form-title d-flex align-items-center justify-content-center">
              <span>Register new account</span>
            </div>
          </div>
          <!-- Grid Col -->
          <div class="col-lg-7 pr-lg-0">
            <!-- Groups -->
            <div class="groups">
              <!-- Input Group -->
              <div class="input-g text-right">
                <label for="full-name" class="position-relative">
                  <i class="fa fa-pencil position-absolute"></i>
                  <input type="text" name="full-name" placeholder="Full name..." autocomplete="off">
                </label>
              </div>
              <!-- Input Group -->
              <div class="input-g text-right">
                <label for="email" class="position-relative">
                  <i class="fa fa-user position-absolute"></i>
                  <input type="email" name="email" placeholder="Email address..." autocomplete="off">
                </label>
              </div>
              <!-- Input Group -->
              <div class="input-g text-right">
                <label for="password" class="position-relative">
                  <i class="fa fa-key position-absolute"></i>
                  <input type="password" name="password" placeholder="Password..." maxlength="30">
                </label>
              </div>
              <!-- Input Group -->
              <div class="input-g text-right">
                <label for="password" class="position-relative">
                  <i class="fa fa-key position-absolute"></i>
                  <input type="password" name="confirm-password" placeholder="Confirm Password..." maxlength="30">
                </label>
              </div>
              <!-- Input Group -->
              <div class="input-g text-center">
                <!-- Comment -->
                <div class="comment">
                  By signing up you agree to the <a href="#">Terms of Services</a>
                </div>
              </div>
              <!-- Input Group -->
              <div class="input-g text-center">
                <input type="submit" name="register-submit" value="Create Account">
              </div>
            </div>
          </div>
          <!-- Grid Col -->
          <div class="col-lg-5 pl-lg-0">
            <!-- Links -->
            <div class="links d-lg-block d-flex flex-wrap justify-content-between align-items-start">
              <a href="#" class="d-inline-flex align-items-center justify-content-start twitter-link w-100">
                <i class="fa fa-twitter d-flex align-items-center justify-content-center"></i>
                <span>Sign up with <b>Twitter</b></span>
              </a>
              <a href="#" class="d-inline-flex align-items-center justify-content-start facebook-link w-100">
                <i class="fa fa-facebook d-flex align-items-center justify-content-center"></i>
                <span>Sign up with <b>Facebook</b></span>
              </a>
              <a href="#" class="d-inline-flex align-items-center justify-content-start google-link w-100">
                <i class="fa fa-google-plus d-flex align-items-center justify-content-center"></i>
                <span>Sign up with <b>Google+</b></span>
              </a>
              <a href="#" class="d-inline-flex align-items-center justify-content-start linkedin-link w-100">
                <i class="fa fa-linkedin d-flex align-items-center justify-content-center"></i>
                <span>Sign up with <b>Linkedin</b></span>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
